colorama==0.4.6
coloredlogs==15.0.1
customtkinter==6.0.0
darkdetect==0.8.0
flatbuffers==25.12.19
humanfriendly==10.0
mpmath==1.3.0
mss==10.2.0
numpy==2.2.6
onnxruntime==1.23.2
opencv-python-headless==5.0.0.93
packaging==26.3
pillow==12.3.0
protobuf==7.35.1
pyclipper==1.4.0
pyreadline3==3.5.6
pywin32==312
PyYAML==6.0.3
rapidocr-onnxruntime==1.4.4
shapely==2.1.2
six==1.17.0
sympy==1.14.0
tqdm==4.70.0
typing_extensions==4.16.0
winrt-Windows.AI.MachineLearning==3.2.1
winrt-Windows.Foundation==3.2.1
winrt-Windows.Graphics==3.2.1
winrt-Windows.Graphics.Capture==3.2.1
winrt-Windows.Graphics.Capture.Interop==3.2.1
winrt-Windows.Graphics.DirectX==3.2.1
winrt-Windows.Graphics.DirectX.Direct3D11==3.2.1
winrt-Windows.Graphics.DirectX.Direct3D11.Interop==3.2.1
winrt-Windows.Graphics.Imaging==3.2.1
winrt-runtime==3.2.1
